.card-container{
    display: grid;
    margin: 120px;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding-right: 20px;
    width: 75%;
    height: 50%;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    animation: ease-in-out;
    background-color:sandybrown;
    
    
}
.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px ;
}

.image-container img{
    overflow: hidden;
    height:100%;
    width: 100%;
}

.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
    width: 70%;
}
h3,p{
    margin: 0;
    padding: 0;
}
.card-title{
    margin-bottom: 0.5rem;
    
}
.btn{
    display: flex;
    justify-content: center;
}

.btn button{
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    border-radius: 3px;

}
.btn:hover{
    background:white;
    transform: scale(0.3s);
}
a{
    text-transform: uppercase;
    color: rgb(74, 67, 31);
    text-decoration: none;
    font-weight: bold;
}

.footer{
    background-color: grey;
}
.socialicon{
    display: flex;
    justify-content: center;
}
.socialicon a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialicon a i{
    font-size: 2em;
    color:black;
    opacity: 0.9;
}
.socialicon a:hover{
    background-color:brown;
    transition: 0.6s;
}