.main{
    background-color:bisque;
}
.footer{
    background-color:rgb(78, 44, 5);
    display: flex;
    
    justify-content:space-around ;
}

.footer a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.footer a i{
    font-size: 2em;
    
    opacity: 0.9;
}
.footer a:hover{
    background-color:silver;
    transition: 0.6s;
}